@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
/* line 5, ../htdocs/task/sass/utilities/_placeholders.scss */
.sidebar .sidebar-inner, .main-content .backdrop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../htdocs/task/sass/components/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 92, ../htdocs/task/sass/components/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 106, ../htdocs/task/sass/components/_reset.scss */
body {
  line-height: 1;
}

/* line 110, ../htdocs/task/sass/components/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 115, ../htdocs/task/sass/components/_reset.scss */
a,
a:hover {
  text-decoration: none;
}

/* line 120, ../htdocs/task/sass/components/_reset.scss */
a {
  font-size: inherit;
}

/* line 124, ../htdocs/task/sass/components/_reset.scss */
a,
a:hover {
  color: inherit;
}

/* line 129, ../htdocs/task/sass/components/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 134, ../htdocs/task/sass/components/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 142, ../htdocs/task/sass/components/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 146, ../htdocs/task/sass/components/_reset.scss */
img {
  display: block;
}

/* line 1, ../htdocs/task/sass/components/_common.scss */
:root {
  font-size: 10px;
}

/* line 4, ../htdocs/task/sass/components/_common.scss */
.wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
}

/* line 11, ../htdocs/task/sass/components/_common.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 15, ../htdocs/task/sass/components/_common.scss */
.btn-style-m {
  padding: 0.4rem 0.8rem;
  border: 1px solid;
  display: inline-block;
  font-size: 1.6rem;
}

/* line 20, ../htdocs/task/sass/components/_common.scss */
.btn-style-m * {
  margin: 0 0.4rem;
}

/* line 23, ../htdocs/task/sass/components/_common.scss */
.btn-style-m.style-1 {
  background: #00ace0;
  color: #fff;
  border-color: #00ace0;
}

/* line 28, ../htdocs/task/sass/components/_common.scss */
.btn-style-m.style-2 {
  background: transparent;
  color: #333;
  border-color: #333;
}

/* line 35, ../htdocs/task/sass/components/_common.scss */
.content-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

/* line 39, ../htdocs/task/sass/components/_common.scss */
.top-header, .sidebar .sidebar-header, .main-content-header {
  height: 7rem;
  border-bottom: 2px solid #666666;
  background: #fff;
}

/* line 43, ../htdocs/task/sass/components/_common.scss */
.top-header .heading, .sidebar .sidebar-header .heading, .main-content-header .heading {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
}

/* line 48, ../htdocs/task/sass/components/_common.scss */
.top-header .paragraph, .sidebar .sidebar-header .paragraph, .main-content-header .paragraph {
  color: #a29d9a;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

/* line 55, ../htdocs/task/sass/components/_common.scss */
#datatable-main_filter {
  display: none;
}

@media only screen and (max-width: 800px) {
  /* line 60, ../htdocs/task/sass/components/_common.scss */
  :root {
    font-size: 9px;
  }
  /* line 63, ../htdocs/task/sass/components/_common.scss */
  body.sidebar-open {
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  /* line 69, ../htdocs/task/sass/components/_common.scss */
  :root {
    font-size: 8px;
  }
}

/* line 1, ../htdocs/task/sass/components/_nav.scss */
.nav-component {
  border-bottom: 1px solid #dadbdc;
  padding-right: 1rem;
}

/* line 4, ../htdocs/task/sass/components/_nav.scss */
.nav-component nav {
  padding: 0;
  background: #fff;
}

/* line 8, ../htdocs/task/sass/components/_nav.scss */
.nav-component .nav-title {
  color: #333;
  font-weight: 300;
  font-size: 2.2rem;
  margin-left: 1.8rem;
}

/* line 14, ../htdocs/task/sass/components/_nav.scss */
.nav-component .navbar-nav {
  margin-right: 5rem;
}

/* line 16, ../htdocs/task/sass/components/_nav.scss */
.nav-component .navbar-nav li {
  padding: 0 1.8rem;
  height: 100%;
}

/* line 19, ../htdocs/task/sass/components/_nav.scss */
.nav-component .navbar-nav li a {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0;
  height: 100%;
  color: #847b7a;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

/* line 30, ../htdocs/task/sass/components/_nav.scss */
.nav-component .navbar-nav li.active a, .nav-component .navbar-nav li:hover a {
  color: #666666;
  border-color: #666666;
}

/* line 38, ../htdocs/task/sass/components/_nav.scss */
.nav-component .nav-cta a {
  font-size: 1.4rem;
  padding: 0.8rem 0.8rem;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

/* line 44, ../htdocs/task/sass/components/_nav.scss */
.nav-component .nav-cta > * {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* line 46, ../htdocs/task/sass/components/_nav.scss */
.nav-component .nav-cta > *:not(:last-child) {
  margin-right: 1rem;
}

/* line 50, ../htdocs/task/sass/components/_nav.scss */
.nav-component .nav-cta .dropdown-menu {
  left: auto;
  right: 0;
}

/* line 57, ../htdocs/task/sass/components/_nav.scss */
.navbar-toggler {
  font-size: 2rem;
}

/* line 59, ../htdocs/task/sass/components/_nav.scss */
.navbar-toggler:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  /* line 66, ../htdocs/task/sass/components/_nav.scss */
  .nav-component .navbar-nav {
    height: auto !important;
    margin-right: 0;
  }
  /* line 70, ../htdocs/task/sass/components/_nav.scss */
  .nav-component .navbar-nav li a {
    padding: 1.5rem 0;
  }
  /* line 75, ../htdocs/task/sass/components/_nav.scss */
  .nav-component .nav-cta {
    padding: 0 1.8rem;
    margin-bottom: 1.8rem;
  }
}

/* line 1, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar {
  -webkit-box-flex: 0 0 390px;
  -moz-box-flex: 0 0 390px;
  -webkit-flex: 0 0 390px;
  -ms-flex: 0 0 390px;
  flex: 0 0 390px;
  background: #f4f4f4;
  border-right: 1px solid #dadbdc;
}

/* line 5, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-inner {
  overflow: hidden;
}

/* line 12, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content {
  background: #fff;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
}

/* line 16, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content label {
  font-size: 1.5rem;
  color: #868686;
}

/* line 19, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content label > * {
  display: block;
}

/* line 21, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content label > *.label-det {
  color: #6d6d6d;
  line-height: 2rem;
  margin-top: 0.6rem;
  font-size: 1.4rem;
}

/* line 30, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .form-group label {
  margin-bottom: 0.8rem;
}

/* line 34, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content select,
.sidebar .sidebar-content input {
  border-radius: 0;
  border: 1px solid #cfcfcf;
  font-size: 1.4rem;
}

/* line 40, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .custom-control-label::before,
.sidebar .sidebar-content .custom-control-label::after {
  height: 12.5px;
  width: 12.5px;
  left: -24px;
}

/* line 46, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .custom-control-input {
  width: 12.5px;
  height: 12.5px;
}

/* line 50, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .custom-checkbox {
  padding-left: 25px;
  margin-top: 1rem;
}

/* line 54, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .form-group {
  margin-bottom: 2rem;
}

/* line 57, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .inline-textfield {
  width: 50%;
}

/* line 60, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-content .actions .btn-style-m {
  padding: 0.8rem 0.8rem;
}

/* line 64, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-resizer {
  left: 100%;
  background: #aaaaaa;
  width: 2rem;
  height: 12rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

/* line 74, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-resizer .inner::before, .sidebar .sidebar-resizer .inner::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 60%;
  top: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 83, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-resizer .inner::before {
  left: 0.6rem;
}

/* line 86, ../htdocs/task/sass/components/_sidebar.scss */
.sidebar .sidebar-resizer .inner::after {
  right: 0.6rem;
}

@media only screen and (max-width: 800px) {
  /* line 96, ../htdocs/task/sass/components/_sidebar.scss */
  .sidebar {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: -300px;
    z-index: 9;
    max-width: 300px;
    transition: .2s ease-out;
    height: 100vh;
  }
  /* line 105, ../htdocs/task/sass/components/_sidebar.scss */
  .sidebar .sidebar-inner {
    position: relative !important;
  }
  /* line 110, ../htdocs/task/sass/components/_sidebar.scss */
  body.sidebar-open .sidebar {
    left: 0;
  }
}

/* line 1, ../htdocs/task/sass/components/_main-content.scss */
.main-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

/* line 3, ../htdocs/task/sass/components/_main-content.scss */
.main-content .backdrop {
  z-index: 8;
  background: #000000b3;
  display: none;
  bottom: 0;
  right: 0;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  /* line 16, ../htdocs/task/sass/components/_main-content.scss */
  body.sidebar-open .main-content .backdrop {
    display: block;
  }
}

/* line 1, ../htdocs/task/sass/components/_main-content-header.scss */
.main-content-header {
  padding: 0 2rem;
}

/* line 5, ../htdocs/task/sass/components/_main-content-header.scss */
.main-content-header .left a {
  color: #00ace0;
  margin-left: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

/* line 12, ../htdocs/task/sass/components/_main-content-header.scss */
.main-content-header .left p b {
  font-weight: 700;
}

/* line 18, ../htdocs/task/sass/components/_main-content-header.scss */
.main-content-header .right .dropdown a {
  font-size: 1.4rem;
  padding: 0.8rem 0.8rem;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

/* line 26, ../htdocs/task/sass/components/_main-content-header.scss */
.list-grid-switcher, .other-cta {
  margin: 0 1rem;
}

/* line 28, ../htdocs/task/sass/components/_main-content-header.scss */
.list-grid-switcher li, .other-cta li {
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

/* line 34, ../htdocs/task/sass/components/_main-content-header.scss */
.list-grid-switcher li.active, .other-cta li.active, .list-grid-switcher li:hover, .other-cta li:hover {
  background: #e6e6e6;
}

/* line 39, ../htdocs/task/sass/components/_main-content-header.scss */
.list-grid-switcher i, .other-cta i {
  color: #333;
}

/* line 43, ../htdocs/task/sass/components/_main-content-header.scss */
.other-cta {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  /* line 49, ../htdocs/task/sass/components/_main-content-header.scss */
  .main-content-header {
    height: auto;
    padding: 2rem;
  }
  /* line 52, ../htdocs/task/sass/components/_main-content-header.scss */
  .main-content-header .left {
    margin-bottom: 1.5rem;
  }
}

/* line 1, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body {
  background: #f4f4f4;
  padding: 1rem 2rem;
  padding-left: 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  min-width: 0;
  min-width: 0;
}

/* line 5, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .top {
  padding-bottom: 15px;
}

/* line 11, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .searchbox-custom input {
  background: transparent;
  border-radius: 0;
  padding-left: 3.5rem;
  font-size: 1.6rem;
  width: 50px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

/* line 18, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .searchbox-custom input:focus {
  width: 150px;
}

/* line 22, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .searchbox-custom i {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.6rem;
  color: #868686;
}

/* line 30, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .matching-row-count {
  font-size: 1.6rem;
  font-weight: 700;
  color: #757575;
}

/* line 35, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .bottom {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

/* line 38, ../htdocs/task/sass/components/_main-content-body.scss */
.main-content-body .scrollbar-custom {
  overflow: auto;
}

/* line 1, ../htdocs/task/sass/components/_table-component.scss */
.table-component {
  border: 1px solid #ddd;
  min-width: 900px;
}

/* line 4, ../htdocs/task/sass/components/_table-component.scss */
.table-component td,
.table-component th {
  border-right: 1px solid #ddd;
}

/* line 9, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th {
  padding: 0;
}

/* line 11, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th div:nth-child(1) {
  font-size: 1.7rem;
  color: #000;
  padding: 1.7rem 0.7rem;
  background: #fff;
  font-weight: 700;
}

/* line 18, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th div:nth-child(2) {
  padding: 0.7rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 600;
}

/* line 24, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th div:nth-child(3) {
  padding: 0.7rem;
  padding-top: 0.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #00ace0;
}

/* line 31, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th div:nth-child(4) {
  height: 2rem;
}

/* line 33, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th div:nth-child(4).valid {
  background: #58daa8;
}

/* line 36, ../htdocs/task/sass/components/_table-component.scss */
.table-component .first-header th div:nth-child(4).invalid {
  background: #ee7282;
}

/* line 42, ../htdocs/task/sass/components/_table-component.scss */
.table-component td {
  font-size: 1.4rem;
  padding: 15px 10px;
}

/* line 45, ../htdocs/task/sass/components/_table-component.scss */
.table-component td input {
  font-size: 1.4rem;
}

/* line 48, ../htdocs/task/sass/components/_table-component.scss */
.table-component td.invalid {
  background: #ee7282;
}

/* line 54, ../htdocs/task/sass/components/_table-component.scss */
.table-striped tbody tr:nth-of-type(odd) {
  background: #ffffff;
}

/* line 57, ../htdocs/task/sass/components/_table-component.scss */
.table-striped tbody tr:nth-of-type(even) {
  background: #f8f8f8;
}

@media only screen and (max-width: 800px) {
  /* line 62, ../htdocs/task/sass/components/_table-component.scss */
  .table-component {
    min-width: 800px;
  }
  /* line 64, ../htdocs/task/sass/components/_table-component.scss */
  .table-component td {
    font-size: 1.8rem;
  }
  /* line 66, ../htdocs/task/sass/components/_table-component.scss */
  .table-component td input {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=main.css.map */