@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

$font-size: (
  lg: 10px,
  md:9px,
  xs: 8px
);


$font-primary: 'Source Sans Pro', sans-serif;

$color-primary: #00ace0;

$laptops: "only screen and (max-width : 1500px)";
$phones-and-tablets: "only screen and (max-width : 800px)";
$phones: "only screen and (max-width : 767px)";