:root {
  font-size: map-get($font-size, lg);
}
.wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: $font-primary;
}

.btn-style-m {
  padding: px(4) px(8);
  border: 1px solid;
  display: inline-block;
  font-size: px(16);
  * {
    margin: 0 px(4);
  }
  &.style-1 {
    background: $color-primary;
    color: #fff;
    border-color: $color-primary;
  }
  &.style-2 {
    background: transparent;
    color: #333;
    border-color: #333;
  }
}

.content-wrapper{
  @include flex-1;
}

.top-header {
  height: px(70);
  border-bottom: 2px solid #666666;
  background: #fff;
  .heading {
    color: #333;
    font-size: px(20);
    font-weight: 600;
  }
  .paragraph {
    color: #a29d9a;
    margin-top: px(10);
    font-size: px(14);
    font-weight: 600;
  }
}
#datatable-main_filter{
  display: none;
}

@media #{$phones-and-tablets}{
:root{
  font-size: map-get($font-size, md);
}
body.sidebar-open{
  overflow: hidden;
}
}

@media #{$phones}{
  :root{
    font-size: map-get($font-size, xs);
  }
  }