.main-content-body {
  background: #f4f4f4;
  padding: px(10) px(20);
  padding-left: px(30);
  .top{
    padding-bottom: 15px;
  }
  @include flex-1;
  min-width: 0;
  .searchbox-custom {
    input {
      background: transparent;
      border-radius: 0;
      padding-left: px(35);
      font-size: px(16);
      width: 50px;
      @include transition(0.2s ease-out);
      &:focus {
        width: 150px;
      }
    }
    i {
      top: 50%;
      @include transform(translateY(-50%));
      left: px(10);
      font-size: px(16);
      color: #868686;
    }
  }
  .matching-row-count {
    font-size: px(16);
    font-weight: 700;
    color: #757575;
  }
  .bottom {
    @include flex-1;
  }
  .scrollbar-custom{
    overflow: auto;
  }
}
