.main-content-header {
  @extend .top-header;
  padding: 0 px(20);
  .left {
    a {
      color: $color-primary;
      margin-left: px(25);
      font-size: px(16);
      font-weight: 600;
    }
    p {
      b {
        font-weight: 700;
      }
    }
  }
  .right {
    .dropdown a {
      font-size: px(14);
      padding: px(8) px(8);
      @include align-items(center);
      font-weight: 600;
    }
  }
}
.list-grid-switcher {
  margin: 0 px(10);
  li {
    padding: px(10);
    background: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    @include transition(0.2s ease-in);
    &.active,
    &:hover {
      background: #e6e6e6;
    }
  }
  i {
    color: #333;
  }
}
.other-cta {
  @extend .list-grid-switcher;
  margin: 0;
}

@media #{$phones-and-tablets} {
  .main-content-header{
    height: auto;
    padding: 2rem;
    .left{
      margin-bottom: 1.5rem;
    }
  } 
}