.main-content {
  @include flex-1;
  .backdrop {
    @extend %reset-absolute-elem;
    z-index: 8;
    background: #000000b3;
    display: none;
    bottom: 0;
    right: 0;
    height: 100vh;
  }
}
@media #{$phones-and-tablets} {
  body.sidebar-open {
    .main-content {
      .backdrop {
        display: block;
      }
    }
  }
}
