.nav-component {
  border-bottom: 1px solid #dadbdc;
  padding-right: px(10);
  nav {
    padding: 0;
    background: #fff;
  }
  .nav-title {
    color: #333;
    font-weight: 300;
    font-size: px(22);
    margin-left: px(18);
  }
  .navbar-nav {
    margin-right: 5rem;
    li {
      padding: 0 px(18);
      height: 100%;
      a {
        font-size: px(16);
        font-weight: 600;
        padding: 0;
        height: 100%;
        color: #847b7a;
        border-bottom: 2px solid transparent;
        @include transition(0.2s ease-in);
      }
      &.active,
      &:hover {
        a {
          color: #666666;
          border-color: #666666;
        }
      }
    }
  }
  .nav-cta {
    a {
      font-size: px(14);
      padding: px(8) px(8);
      @include align-items(center);
      font-weight: 600;
    }
    > * {
      @include inline-flexbox();
      &:not(:last-child) {
        margin-right: px(10);
      }
    }
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}

.navbar-toggler {
  font-size: 2rem;
  &:focus{
    outline: none;
  }
}

@media #{$phones-and-tablets} {
  .nav-component {
    .navbar-nav {
      height: auto !important;
      margin-right: 0;
      li {
        a {
          padding: 1.5rem 0;
        }
      }
    }
    .nav-cta {
      padding: 0 1.8rem;
      margin-bottom: 1.8rem;
    }
  }
}
