.sidebar {
  @include flex(0 0 390px);
  background: #f4f4f4;
  border-right: 1px solid #dadbdc;
  .sidebar-inner{
    @extend %reset-absolute-elem;   
    overflow: hidden;
  }
  .sidebar-header {
    @extend .top-header;
  }
  .sidebar-content {
    background: #fff;
    padding: 1.5rem 2.5rem;
    font-size: px(16);
    label {
      font-size: px(15);
      color: #868686;
      > *{
          display: block;
          &.label-det{
            color: #6d6d6d;
            line-height: px(20);
            margin-top: px(6);
            font-size: px(14);
          }
      }
    }
    .form-group {
      label {
        margin-bottom: px(8);
      }
    }
    select,
    input {
      border-radius: 0;
      border: 1px solid #cfcfcf;
      font-size: px(14);
    }
    .custom-control-label::before,
    .custom-control-label::after {
      height: 12.5px;
      width: 12.5px;
      left: -24px;
    }
    .custom-control-input {
      width: 12.5px;
      height: 12.5px;
    }
    .custom-checkbox {
      padding-left: 25px;
      margin-top: px(10);
    }
    .form-group {
      margin-bottom: px(20);
    }
    .inline-textfield {
      width: 50%;
    }
    .actions .btn-style-m{
        padding:px(8) px(8);
    }
  }
  .sidebar-resizer{
      left: 100%;
      background: #aaaaaa;
      width: px(20);
      height: px(120);
      top: 50%;
      @include transform(translateY(-50%));
      border-top-right-radius: px(14);
      border-bottom-right-radius: px(14);
      .inner{
        &::before,&::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 60%;
            top: 50%;
            background: #fff;
            @include transform(translateY(-50%));
        }
        &::before{
            left: px(6);
        }
        &::after{
            right: px(6);
        }
      }
      
  }
}


@media #{$phones-and-tablets}{
  .sidebar{
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: -300px;
    z-index: 9;
    max-width: 300px;
    transition: .2s ease-out;
    height: 100vh;
    .sidebar-inner{
      position: relative !important;
    }
  }
  body.sidebar-open{
    .sidebar{
      left: 0;
    }
  }
}