.table-component {
  border: 1px solid #ddd;
  min-width: 900px;
  td,
  th {
    border-right: 1px solid #ddd;
  }
  .first-header {
    th {
      padding: 0;
      div:nth-child(1) {
        font-size: px(17);
        color: #000;
        padding: px(17) px(7);
        background: #fff;
        font-weight: 700;
      }
      div:nth-child(2) {
        padding: px(7);
        font-size: px(14);
        letter-spacing: 2px;
        font-weight: 600;
      }
      div:nth-child(3) {
        padding: px(7);
        padding-top: px(4);
        font-size: px(15);
        font-weight: 600;
        color: $color-primary;
      }
      div:nth-child(4) {
        height: px(20);
        &.valid {
          background: #58daa8;
        }
        &.invalid {
          background: #ee7282;
        }
      }
    }
  }
  td {
    font-size: px(14);
    padding: 15px 10px;
    input{
      font-size: px(14);
    }
    &.invalid {
      background: #ee7282;
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #ffffff;
}
.table-striped tbody tr:nth-of-type(even) {
  background: #f8f8f8;
}

@media #{$phones-and-tablets} {
  .table-component {
    min-width: 800px;
    td{
      font-size: 1.8rem;
      input{
        font-size: 1.8rem;
      }
    }
  }
}